body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainContainer {
    max-width: 50rem;
}

input{
    transition: box-shadow 0.5s;
}

input.error
{
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      box-shadow: none;
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
      box-shadow: 0 0 0.5em red;
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
      box-shadow: 0 0 0.5em red;
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
      box-shadow: 0 0 0.5em red;
    }
  }
    
.card {
    width: 12rem;
    margin: 5px;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.61);
    -webkit-box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.61);
    -moz-box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.61);
}

canvas {
    width: 100%;
  }